Checks: >
  *,
  -llvmlibc-*,
  -fuchsia-*,
  -altera-*,
  -boost-*,
  -google-*,
  -bugprone-easily-swappable-parameters,
  -cert-dcl59-cpp,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -llvm-include-order,
  -readability-identifier-length,
  -readability-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -readability-avoid-nested-conditional-operator,

CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  hicpp-special-member-functions.AllowSoleDefaultDtor: true
